extends ../constructor.blocks/page-layout/page-layout.pug
include ../constructor.blocks/text-section/text-section.pug

block variables

    - var title = 'Trafalgar Medicine';
    - var description = 'Trafalgar Medicine';

block container

    include ../constructor.blocks/services/services.pug