extends ../constructor.blocks/page-layout/page-layout.pug

block variables

    - var title = 'Trafalgar Medicine';
    - var description = 'Trafalgar Medicine';

block container

    div.test-container
        h1 Virtual healthcare <br> for you

        p Trafalgar provides progressive and affordable <br> healthcare, accessible on mobile and online <br> for everyone

        button.block-button
            p.__text Consult today