extends ./page-layout.pug
//- include ../constructor.blocks/text-section/text-section.pug

block variables

    - var title = 'Trafalgar Medicine';
    - var description = 'Trafalgar Medicine';

block container

    h1.visually-hidden Trafalgar - virtual healthcare for you

    include ../constructor.blocks/services/services.pug
    include ../constructor.blocks/apps/apps.pug
    include ../constructor.blocks/testimonials/testimonials.pug