doctype html

html(lang='en')
    
    head
        meta(charset='utf-8')
        meta(name="description", content='test')

    body
        div.test-container
            h1 Virtual healthcare <br> for you

            p Trafalgar provides progressive and affordable <br> healthcare, accessible on mobile and online <br> for everyone

            button.block-button
                p.__text Consult today