block variables

doctype html

html(lang='en')
    
    head
        meta(charset='utf-8')
        meta(name="description", content=description)
        title #{title}

    body

        include ../constructor.blocks/header/header.pug
        block container
        //- include ../footer/footer.pug
        script(src="../../node_modules/focus-visible/dist/focus-visible.min.js")