.text-section__separator {

    height: calc(var(--button-height) / 28);
    width: var(--button-height);

    margin-top: var(--space-sm);
    margin-bottom: var(--space-sm);
    background-color: #000000;
    border-radius: calc(var(--button-height) / 28 * 2.5);

}