.services__cards {

    /* Flex model */

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    margin-top: var(--space-xl);
    margin-bottom: var(--space-xl);
    padding-inline-start: 0;

    list-style-type: none;
}