.nav-menu__item {

    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;

    border-radius: 55px;
    //???
    width: 8em;
    height: calc(var(--text-xl) * 2.1);
    display: flex;
    justify-content: center;

    font-weight: normal;

    // flex-basis: auto;
    // flex-grow: 1;
    cursor: pointer;
    
    // background-color: #D4D4D4;
    transition: all 0.2s ease;
    -webkit-backface-visibility: hidden;

    p {
        // width: 6em;
        width: auto;
        color: #1F1534;
        opacity: 0.5;
        margin-left: calc(var(--space-xs) * 0.5);
        margin-right: calc(var(--space-xs) * 0.5);
        // padding-left: calc(var(--space-xs));
        // padding-right: calc(var(--space-xs));
        padding-bottom: var(--space-sm);
        // background-color: #D67AA4;

        font-size: calc(var(--text-base-size) * 1.2);
        font-style: normal;
        text-align: center;

        transition: all 0.2s ease;

    }
    

    &:hover {

        
        // box-shadow: inset 0 -5px 0 0 #6FA8F7;
        margin-top: var(--space-xs);
        

        p {
            opacity: 1;
            box-shadow: inset 0 -5px -0 0 #6FA8F7;
        }
    }

    &:active {

        outline: none;
        // margin-top: var(--space-xs);
        
        p {
            // text-shadow: 0.5px 0 0 #1F1534, -0.5px 0 0 #1F1534;
            opacity: 1;
            font-weight: bold;
        }
        
    }

    &:focus{

        p {
            opacity: 1;
        }


    }
}