.nav-menu__item {

    /* Flex model */

    display: flex;
    justify-content: center;
    padding-left: calc(var(--space-md) / 16 * 5);
    padding-right: calc(var(--space-md) / 16 * 5);
    
    /* Typographic */

    font: {

        family: inherit;
        weight: normal;
    }

    color: inherit;
    
    /* Decor */

    border: none;
    border-radius: 15px;
    background-color: transparent;

    /* Animation */

    transition: all 0.2s ease;

    /* Other */

    cursor: pointer;
    backface-visibility: hidden;

    /* For debug mode */

    // background-color: #D4D4D4;

    /* Nested selectors */

    p {

        /* Flex model */

        width: auto;
        padding-bottom: 0;
        padding-top: 0;
        margin: 0;
        margin-top: 1em;
        margin-bottom: 1em;

        /* Typographic */

        
        color: #1F1534;
        font-style: normal;
        text-align: center;
        font-size: var(--menu-text-size);

        /* Decor */

        opacity: 0.5;

        /* Animation */

        transition: all 0.3s ease;

        /* For debug mode */

        // background-color: #D67AA4;



        
    }
    
    /* Pseudo Classes */

    &:hover {

        p {

            opacity: 1;
            box-shadow: inset 0 -5px -0 0 #6FA8F7;
            padding-bottom: calc(var(--menu-text-size) / 2.5);
            padding-top: calc(var(--menu-text-size) / 2.5);
        }
    }

    &:active {

        outline: none;
        border-radius: 17px;
        
        p {
            
            opacity: 1;
            font-size: calc(var(--menu-text-size) * 1.3);
            // box-shadow: inset 0 -7px -0 0 #FEAEDD;
            box-shadow: inset 0 -7px -0 0 #FFFFFF;
            padding-bottom: calc(var(--menu-text-size) / 2.5);
            padding-top: calc(var(--menu-text-size) / 2.5);
            font-weight: bold;

            margin-top: calc((1em / 1.3) - var(--menu-text-size) / 2.5);
            margin-bottom: calc((1em / 1.3) - var(--menu-text-size) / 2.5);

        }
        
    }
}