.slider__dots {

    display: flex;
    flex-direction: row;

    
}

.span-span-span {

    width: 1em;
    height: 1em;
    background-color: gray;
    margin: 0.5em;
    border-radius: 50%;
    cursor: pointer;

    transition: 0.2s;

}

.test-black {

    background-color: black;
}