.nav-menu__list {

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    white-space: nowrap;

    // ::before {
    //     content: '';
    //     font-weight: bold;
    //     opacity: 0.2;
    // }

}