.nav-menu__list {

    /* NEED TO FIX WIDTH TO AVOID LOGO MOVING */

    /* Flex model */

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;

    /* Typographic */

    white-space: nowrap;
    
    /* Need to check */

    /* width: calc(var(--space-xxxl) * 5); */
    // transition: margin-right 0.7s ease-out;

    /* For debug mode */

    // background-color: #24AFFF;
}

// @media (max-width: 1259px) {
//     .nav-menu__list {
//         // margin-right: -1000px;
//         display: none;
//     }
// }