.feedback-card {

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: calc(50vw);
    margin-left: 10vw;
    margin-right: 10vw;

}

@media (orientation: portrait) {

    .feedback-card {

        width: calc(76vw);
        margin-left: 7vw;
        margin-right: 7vw;
        flex-flow: column nowrap;

    }
    
}