.slider__next--internal {
    
    display: none;
    height: 4em;
    margin-right: var(--space-xs);
    margin-left: 0;
    padding: var(--space-xxs);

    filter: brightness(0.7);
    opacity: 0.8;

    img {

        max-width: 100%;
    }

    &:hover {

        filter: brightness(0.5);
    }
}

@media (orientation: portrait) {

    .slider__next--internal {

        display: flex;
    }
}

// @media (orientation: landscape) {

//     .slider__next--internal {

//         display: none;
//     }
// }