.text-section {

    /* Flex model */
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    max-width: 29em;

    // width: 27%; // ???????/

    // Need to fix that shit :/
    

    /* padding: calc(var(--space-lg) * 2); */
    // width: max-content;

    /* font-size: calc(var(--text-md) * 0.95); */
    // transition: all 1.0s ease;
    // box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

@media (max-width: 1070px) {

    .text-section {
        // margin: var(--space-sm);
        // width: 80%;
    }
}

