.services {

    /* Flex model */

    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    width: 76%;
    margin-bottom: var(--space-section);

}