include ../service-card/service-card.pug

- 
    var services = {
                    'Search doctor' : {'search-doctor.svg' : 
                    'Choose your doctor from thousands of specialist, general, and trusted hospitals'},

                    'Online pharmacy': {'online-pharmacy.svg' :
                    'Buy  your medicines with our mobile application with a simple delivery system'},

                    'Consultation' : {'consultation.svg' :
                    'Free consultation with our trusted doctors and get the best recomendations'},

                    'Details info' : {'details-info.svg' :
                    'Free consultation with our trusted doctors and get the best recomendations'},

                    'Emergency care' : {'emergency-care.svg' :
                    'You can get 24/7 urgent care for yourself or your children and your lovely family'},

                    'Tracikng' : {'tracking.svg' :
                    'Track and save your medical history and health data'}
                };



div.block-services

    div.block-section
    
    div._cards
        each additional, title in services
            each text, pic in additional
                +add-service(pic, title, text)