.button {

    /* Flex model */
    display: flex;
    align-items: center;
    padding-left: var(--space-md);
    padding-right: var(--space-md);
    height: var(--button-height);

    /* Typographic */

    white-space: nowrap;
    text-decoration: none;
    font-size: var(--button-text-size);

    /* Decor */

    border: 1.4px solid #458FF6;
    border-radius: 55px;

    /* Animation */

    transition: 0.2s ease;
    transition-property: background, box-shadow, border;

    /* Other */

    cursor: pointer;
    user-select: none;

     /* Need to check */ 

    // font-size: var(--text-sm);
    // height: calc(var(--text-xxxl) * 1.44);
    // display: flex;
    // flex-direction: row;
    // align-items: center;
    

}