.button {

    /* Flex model */
    display: flex;
    align-items: center;
    justify-content: center;
    // padding-left: var(--space-md);
    // padding-right: var(--space-md);
    height: var(--button-height);
    width: calc(7em + 2 * var(--space-md));

    /* Typographic */

    white-space: nowrap;
    text-decoration: none;
    font-size: var(--button-text-size);

    /* Decor */

    border: calc(var(--button-height) / 45) solid #458FF6;
    border-radius: var(--button-height);

    /* Animation */

    transition: 0.2s ease;
    transition-property: background, box-shadow, border;

    /* Other */

    cursor: pointer;
    user-select: none;

     /* Need to check */ 

    // font-size: var(--text-sm);
    // height: calc(var(--text-xxxl) * 1.44);
    // display: flex;
    // flex-direction: row;
    // align-items: center;
    

}