.section {

    /* Flex model */

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    width: 100%;

    /* Need to check */

    // margin-top: calc(var(--space-xs) * 0.1);
    /* // margin-bottom: var(--space-xl); */
    // transition: margin-top 1s ease;

}

/* Media requests */

@media (max-width: 1070px), (orientation: portrait)  {

    .section {

        /* Flex model */

        flex-flow: column-reverse wrap;
        justify-content: center;
        align-content: center;

        /* Animation */

        // animation: transp 1s;

        // margin-top: calc(var(--space-xs) * 0.2);

    }
}

@media (min-width: 1260px) {

    .section {

        /* Animation */
        
        // animation: tratra 1s;
    }
}

@media (orientation: portrait) {}

@media (orientation: landscape) {}