@keyframes transp {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes tratra {

    0% {opacity: 0;}
    100% {opacity: 1;}
}

.section {

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    // margin-top: calc(var(--space-xs) * 0.1);

    /* // margin-bottom: var(--space-xl); */
    
    align-items: center;
    align-content: flex-start;
    width: 100%;
    // transition: margin-top 1s ease;

}

@media (max-width: 1070px), (orientation: portrait)  {

    .section {

        flex-flow: column-reverse wrap;
        justify-content: center;
        align-content: center;
        animation: transp 1s;
        // margin-top: calc(var(--space-xs) * 0.2);

    }
}

@media (min-width: 1260px) {

    .section {
        animation: tratra 1s;
    }
}

@media (orientation: portrait) {}

@media (orientation: landscape) {}