.feedback-card__box {

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-basis: 100%;
    padding-right: 1em;

    // padding-right: var(--space-xxs);
}

@media (orientation: portrait) {
    .feedback-card__box {

        margin-bottom: var(--space-xs);

    }
}    