.button--theme-blue {

    /* Decor */

    background-color: #458FF6;

    /* Animation */

    transition: 0.2s ease;
    transition-property: background, box-shadow;

    /* Nested selectors */

    .button__text {

        color: white;
    }

    /* Pseudo Classes */

    &:hover{

        background: #2B5B9E;
    }

    &:active{

        // need to setup
    }
}