.button--theme-blue {

    /* Decor */

    background-color: #458FF6;

    /* Nested selectors */

    .button__text {

        color: #FFFFFF;
    }

    /* Pseudo Classes */

    &:hover{

        border-color: #3064ac;
        background: #3064ac;
    }

    &:active{

        // need to setup
    }
}