.button--theme-blue {

    background: #458FF6;
    color: white;
    transition: 0.2s ease;
    transition-property: background, box-shadow;

    &:hover{

        background: #2B5B9E;
    }

    &:active{

        // need to setup
    }
}