.header {

    /* Flex model */

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    max-width: 100vmax;

    // Maybe make header 76% width of body?? Looks good

    /* Need to check */

    // height: 100vh;
    // padding: var(--space-md);
}