.header {

    /* Flex model */

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;

    /* Need to check */

    // height: 100vh;
    // padding: var(--space-md);
}