include ../nav-menu/nav-menu.pug
include ../section/section.pug
include ../logo/logo.pug

- var title = 'Virtual healthcare #[br] for you';
- var text = 'Trafalgar provides progressive and affordable #[br]healthcare, accessible on mobile and online #[br] for everyone';
- var button_text = 'Consult today';
- var menu_items = ['Home', 'Find a doctor', 'Apps', 'Testimonials','About us'];

header.block-header
    +add-nav(menu_items)
    +add-section(title, text, button_text, button_theme='blue')