include ../nav-menu/nav-menu.pug
include ../text-section/text-section.pug
include ../logo/logo.pug

- var title = 'Virtual healthcare for you';
- var text = 'Trafalgar provides progressive and affordable healthcare, accessible on mobile and online for everyone';
- var button_text = 'Consult today';
- var menu_items = ['Home', 'Find a doctor', 'Apps', 'Testimonials','About us'];

- var image_path = './src/constructor.blocks/header/img/header-pic.png';

header.block-header

    +add-nav(menu_items)

    div.block-section
        +add-text-section(title, text, button_text, button_theme='blue')
        div._image
            img(src=image_path)
