.slider__next {

    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: var(--space-md);
    height: 2.4em;
    // padding-right: var(--space-md);

    /* Typographic */

    white-space: nowrap;
    text-decoration: none;

    /* Decor */
    background-color: transparent;
    border: none;
    outline: none;
    border-radius: var(--button-height);


    /* Animation */

    transition: 0.2s ease;

    /* Other */

    cursor: pointer;
    user-select: none;
    
    img {
        height: 100%;
    }

    &:hover {

        filter: brightness(0.7);
    }

    &:active {

        transform: translateX(calc(var(--space-xxs)));
    }
}

@media (orientation: portrait) {

    .slider__next {

        display: none;
    }

}