.feedback-card__user-pic {
    
    display: flex;
    // height: calc(0.4 * 25vw);
    // width: calc(0.4 * 25vw);
    user-select: none;
    padding: var(--space-xxs);


    // border-radius: 50%;
    // box-shadow: inset 0 0 10px #FFFFFF;

    img {

        border-radius: 50%;
        box-shadow: 0 0 0 0.25em #FFFFFF;
        height: calc(0.4 * 25vw);
        width: calc(0.4 * 25vw);
        object-fit: cover;

    }
}

@media (orientation: portrait) {

    .feedback-card__user-pic {

        width: calc(0.8 * 35vw);
        height: calc(0.8 * 35vw);

        img {

            width: calc(0.8 * 35vw);
            height: calc(0.8 * 35vw);

        }
    }
}