
mixin add-service(pic, title, text)

    - var path = './src/constructor.blocks/services/img/' + pic;

    div.block-service-card

        div.__pic
            img(src=path)
                
        div.__text-section

            h3.__title= title
            p.__text= text
