.slider {

    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: var(--space-md);
    justify-content: space-between;
}

@media (orientation: portrait) {
    .slider {

        width: 100%;
        margin-top: var(--space-xs);

    }
}