doctype html

html(lang='en')
    
    head
        meta(charset='utf-8')
        meta(name="description", content='test')

    body

        h1 Hello world
        h2.block-h2.-momo Hola
            p.__item Ola hola
            p.__item.-modify Omg-jihihlh