:root {

    // spacing values
    // --space-sm:   calc(var(--baseline)/2);
    // --space-md:   var(--baseline);
    // --space-lg:   calc(var(--baseline)*2);
    // --space-xl:   calc(var(--baseline)*3);

    /* ---------------------------- Typography ----------------------------- */

    --font-primary: sans-serif;
    --font-base-size: 1.2em;                                            // 18px
    --main-line-height: 1;

    // Titles

    --title-base-size: calc(var(--font-base-size) * var(--title-scale));// 24px
    --title-scale: 1.4;
    --color-title: #000000;
    --title-line-height: calc(var(--main-line-height) * 1.15);

    --title-md: var(--title-base-size);                                 // 24px
    --title-lg: calc(var(--title-md) * var(--title-scale));             // 36px
    --title-xl: calc(var(--title-lg) * var(--title-scale));             // 48px

    --title-rmd: calc(var(--font-base-size) * var(--text-scale)); // additional

    // Text

    --text-base-size: var(--font-base-size);                            // 18px
    --text-scale: 1.13;
    --color-text: #7D7987;
    --text-line-height: calc(var(--main-line-height) * 1.5);

    --text-sm: calc(var(--text-base-size) / var(--text-scale));         // 16px
    --text-md: var(--text-base-size);                                   // 18px
    --text-lg: calc(var(--text-md) * var(--text-scale));                // 21px

    // Interactive elements
    
    --menu-text-size: var(--font-base-size);                            // 18px
    --button-text-size: var(--font-base-size);                          // 18px
    --color-link: #4089ED;

    /* ------------------------------ Spacing ------------------------------ */

    --space-factor: 0.55em;

    --space-xs: calc(var(--space-factor) * 1.5);
    --space-sm: calc(var(--space-factor) * 4);
    --space-md: calc(var(--space-factor) * 5);
    --space-xl: calc(var(--space-factor) * 8);
    --space-section: calc(var(--space-factor) * 26);

    /* ----------------------------- Flex model ---------------------------- */



    // 8px ~ 0.535 em ~~ 0.55 em ? 
    // nav from top: 56 px = 1.15*1.4*1.4*1.4*1.2 = 3.85em | Needed 40px = 2.75em
    // between menu items: 43px = ?
    // between cards horizontally and vertically 34px ~ 2.25em
    // padding left at service card: 40px = 2.75em
    // padding top at service card: 36px ~ 2.25em
    // button paddings: 40px = 2.75em
    // from nav to header-section: ~ 4.4em

    
    

}

html {

}

body {

    font-family: 'Muli', 'Arial', var(--font-primary);
    
}

h1, h2, h3 {

    line-height: var(--title-line-height);
    color: var(--color-title);
}

p {
    
    line-height: var(--text-line-height);
    color: var(--color-text);
}

a {

    line-height: var(--text-line-height);
    text-decoration: none;
    color: var(--color-link);
}