.logo {

    /* Flex model */

    display: flex;
    align-items: center;
    height: inherit;

    /* Need to check */

    // border-radius: 55px;
    padding-bottom: calc(4.6px);
    // margin-right: var(--space-lg);

    // ???????
    // margin-left: var(--space-lg);
    // padding-left: var(--space-md);
    // padding-right: var(--space-md);
    
    
}