.logo {

    border-radius: 55px;
    padding-top: calc(var(--space-xs) * 1.35);
    // margin-right: var(--space-xs);
    // margin-left: var(--space-lg);
    // padding-left: var(--space-md);
    // padding-right: var(--space-md);
    align-items: center;
}