block variables

doctype html

html(lang='en')
    
    head
        meta(charset='utf-8')
        meta(name="description", content=description)
        title #{title}

    body

        include ../header/header.pug
        block container
        //- include ../footer/footer.pug