.button__text {

    /* Flex model */
    
    margin: 0;

    /* Typographic */

    font: {
        
        size: var(--button-text-size);
        style: normal;
        weight: 600;
    }

    /* Animation */

    transition: all 0.2s ease;

    /* Need to check */

     // margin-left: calc(var(--space-sm) * 3); 
     // margin-right: calc(var(--space-sm) * 3); 

    /* Move to debug mode */

    // background-color: #1024FA;
    
}