.button__text {

    /* margin-left: calc(var(--space-sm) * 3); */
    /* margin-right: calc(var(--space-sm) * 3); */

    font-size: calc(var(--text-base-size) * 1.4);
    font-style: normal;
    font-weight: 600;
    color: white;

    // background-color: #1024FA;
    
}