.button__text {

    margin-left: var(--space-lg);
    margin-right: var(--space-lg);

    font-size: calc(var(--text-base-size) * 1.2);
    font-style: normal;
    font-weight: bold;
    color: white;
    
}