
.nav-menu {

    /* padding-top: var(--space-md); */

    display: flex;
    justify-content: space-between;

    /* Need to setup height (for fixing layout)
    
    // height: calc(var(--text-xxxl) * 1.4);
    // margin-left: 12%;
    // margin-right: 12%;

    // flex-wrap: wrap; */

    width: 76%;
}

@media (min-width: 1260px) {
    .nav-menu {
        animation: transp 0.8s;
        // margin-right: -1000px;
    }
}