include ../logo/logo.pug

//- NEED TO ALIGN LOGO AND NAV!!!

mixin add-nav(items)

    nav.block-nav-menu
        
        +add-logo()

        div.__list
            each item in items
                button.__item: p= item