
.nav-menu {

    /* NEED TO SETUP HEIGHT!! to avoid other boxes moving */

    /* Flex model */

    display: flex;
    align-items: center;
    justify-content: space-between;
    height: calc(var(--menu-text-size) * 3.5);
    width: 76%;
    margin-top: var(--space-md);

    /* Other */

    user-select: none;
    

    /* Need to check */

    // box-shadow: 0 0 0 3px black;

    // margin-left: 12%;
    // margin-right: 12%;

    // flex-wrap: wrap; */

    /* padding-top: var(--space-md); */

}

/* Media requests */

@media (orientation: portrait) {

    .nav-menu {

        margin-top: var(--space-xs);
        // justify-content: space-around;
        height: calc(var(--button-text-size) * 5);
        width: 100%;
        padding-left: 12%; // TEMPORARY

        
        // animation: transp 0.8s;
        
    }

}