include ../feedback-card/feedback-card.pug

- var title = 'What our customers are saying';
- var text = '';

- var testimonial_1 = '“Our dedicated patient engagement app and web portal allow you to access information instantaneously (no tedeous form, long calls, or administrative hassle) and securely”';

section.block-testimonials

    div.__box
        +add-text-section(title, text, button_text='', button_link='', button_theme='', style='', orientation='center', theme='white')

        div.__hider
            ul(style='left: -70vw;').__slides
                +add-feedback('1', 'Freelancer', testimonial_1, './src/constructor.blocks/testimonials/img/feedback-1-copy.jpg')
                +add-feedback('2', 'Freelancer', testimonial_1, './src/constructor.blocks/testimonials/img/feedback-1-copy.jpg')
                +add-feedback('3', 'JAjjasj', testimonial_1, './src/constructor.blocks/testimonials/img/feedback-1-copy.jpg')
                +add-feedback('4', 'JAjjasj', testimonial_1, './src/constructor.blocks/testimonials/img/feedback-1-copy.jpg')
                +add-feedback('5', 'JAjjasj', testimonial_1, './src/constructor.blocks/testimonials/img/feedback-1-copy.jpg')
                +add-feedback('6', 'JAjjasj', testimonial_1, './src/constructor.blocks/testimonials/img/feedback-1-copy.jpg')
                +add-feedback('7', 'JAjjasj', testimonial_1, './src/constructor.blocks/testimonials/img/feedback-1-copy.jpg')
                +add-feedback('8', 'JAjjasj', testimonial_1, './src/constructor.blocks/testimonials/img/feedback-1-copy.jpg')

        
    div.block-slider
        button.__prev
            p Prev
        div.__dots
        button.__next
            p Next
        


            //- div.__cards
    //-     each additional, title in services
    //-         each text, pic in additional
    //-             +add-service(pic, title, text)
