.service-card__text-box {

    /* Flex model */

    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;


}

@media (orientation: portrait) {

    .service-card__text-section {

        // flex-basis: 80%;

        width: 80%;
    }
}